:root {
  --dark-code-background-color: #112;
  --dark-code-light-blue-background-color: #abd;
  --header-height: 38px;
}
.main-blog {
  background-color: var(--dark-background-color);
  color: var(--dark-main-color);
  width: 100%;
  min-height: 100vh;
}
/*  - - Blog index - -  */
.post-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 1rem;
}
.post-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 1rem;
  margin: 1.5rem 1rem 2rem;
}
.post-cards a {
  color: inherit;
}
.post-card > img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
}
.post-card-text h4 {
  font-family: var(--main-font);
  color: var(--dark-second-color);
  margin: 0.5rem 0 0;
}
.post-card-text h3 {
  font-family: var(--main-font);
  color: var(--fourth-color);
}

@media (min-width: 800px) {
  .post-cards {
    max-width: 1000px;
    margin: 2rem auto 0;
    padding: 0;
  }
  .post-card {
    flex-direction: row;
    padding-left: 1rem;
    margin: 2rem 0;
  }
  .post-card > img {
    width: 12rem;
    height: 10rem;
  }
  .post-card-text {
    margin-left: 1.5rem;
  }
}

/*  - - Post Article - -  */
.post-data {
  color: var(--dark-second-color);
  font-size: 1.2rem;
  text-align: right;
  padding: 0 0 0 1rem;
  margin-right: 1rem;
}
.author-profile-div {
  display: flex;
  justify-content: end;
  align-items: center;
}
.author-profile-image {
  width: 60px !important;
  height: 60px !important;
  object-fit: cover;
  object-position: 0 0;
}
article {
  margin-top: 1rem;
}

.blog-header {
  font-family: var(--subtitle-font);
  font-weight: bolder;
  font-size: 1.3rem;
  text-align: center;
  color: var(--dark-code-background-color);
  background-color: var(--fourth-color);
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
}
.content-blog {
  max-width: 1400px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: var(--dark-main-color);
  font-family: var(--main-color);
  font-size: 1.5rem;
  /* line-height: 1.6em; */
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: var(--dark-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga1" on;
}
.content-blog ::selection {
  text-shadow: none;
  background: var(--fourth-color);
  color: #000;
}

.content-blog blockquote,
.content-blog q {
  quotes: none;
}
.content-blog blockquote:after,
.content-blog blockquote:before,
.content-blog q:after,
.content-blog q:before {
  content: "";
  content: none;
}
.content-blog table {
  border-spacing: 0;
  border-collapse: collapse;
}
*,
:after,
:before {
  box-sizing: inherit;
}
.content-blog a {
  background-color: transparent;
}
.content-blog a:active,
.content-blog a:hover {
  outline: 0;
}
.content-blog b,
.content-blog strong {
  font-weight: 700;
}
.content-blog dfn,
.content-blog em,
.content-blog i {
  font-style: italic;
}

.content-blog small {
  font-size: 80%;
}
.content-blog sub,
.content-blog sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
.content-blog sup {
  top: -0.5em;
}
.content-blog sub {
  bottom: -0.25em;
}
.content-blog svg:not(:root) {
  overflow: hidden;
}
.content-blog code,
.content-blog kbd,
.content-blog pre,
.content-blog samp {
  font-family: "Roboto Mono", monospace;
  font-display: swap;
  font-size: 1em;
  color: inherit;
}
.content-blog button,
.content-blog input,
.content-blog optgroup,
.content-blog select,
.content-blog textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
.content-blog button {
  overflow: visible;
  border: none;
}
.content-blog button,
.content-blog select {
  text-transform: none;
}
.content-blog button,
.content-blog input[type="button"],
.content-blog input[type="reset"],
.content-blog input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
.content-blog button[disabled],
.content-blog input[disabled] {
  cursor: default;
}
.content-blog button::-moz-focus-inner,
.content-blog input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.content-blog input {
  line-height: normal;
}
.content-blog input:focus {
  outline: 0;
}
.content-blog input[type="checkbox"],
.content-blog input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.content-blog input[type="number"]::-webkit-inner-spin-button,
.content-blog input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.content-blog input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
.content-blog input[type="search"]::-webkit-search-cancel-button,
.content-blog input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.content-blog legend {
  padding: 0;
  border: 0;
}
.content-blog textarea {
  overflow: auto;
}
.content-blog td,
.content-blog th {
  padding: 0;
}

.content-blog audio,
.content-blog canvas,
.content-blog iframe,
.content-blog img,
.content-blog svg,
.content-blog video {
  vertical-align: middle;
}
.content-blog fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.content-blog textarea {
  resize: vertical;
}
.content-blog blockquote,
.content-blog dl,
.content-blog ol,
.content-blog p,
.content-blog ul {
  margin: 0 0 1.5em;
}
.content-blog ol,
.content-blog ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}
.content-blog ol ol,
.content-blog ol ul,
.content-blog ul ol,
.content-blog ul ul {
  margin: 0.5em 0 1em;
}
.content-blog ul {
  list-style: disc;
}
.content-blog ol {
  list-style: decimal;
}
.content-blog ol,
.content-blog ul {
  max-width: 100%;
}
.content-blog li {
  margin: 0.5em 0;
  padding-left: 0.3em;
  line-height: 1.6em;
}

.content-blog dd {
  margin: 0 0 5px;
  text-align: left;
}
.content-blog blockquote {
  margin: 1.5em 0;
  padding: 0 1.6em;
  border-left: var(--fourth-color) 0.5em solid;
}
.content-blog blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300;
}
.content-blog blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}
.content-blog blockquote small:before {
  content: "\2014 \00A0";
}
.content-blog blockquote cite {
  font-weight: 700;
}
.content-blog blockquote cite a {
  font-weight: 400;
}
.content-blog a {
  color: var(--dark-main-color);
  text-decoration: none;
  cursor: pointer;
}
.content-blog a:hover {
  text-decoration: underline;
}
.content-blog img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.content-blog .hidden {
  visibility: hidden;
  position: absolute;
  text-indent: -9999px;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-main {
  z-index: 100;
  flex-grow: 1;
  margin-top: calc(var(--header-height) * 3 + 5px);
}
.under-header-content + .site-main {
  margin-top: 0;
}
.outer {
  position: relative;
  padding: 0 4vw;
}
.inner {
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
}
.post-full-title {
  font-family: var(--title-font);
  font-weight: bold;
  color: var(--second-color);
  text-align: center;
}

.post-full-content {
  position: relative;
  margin: 0 auto;
  padding: 0.5rem;

  min-height: 230px;
  font-family: var(--main-font);
  font-display: swap;
  /*   line-height: 1.6em; */
  background: var(--dark-background-color);
}
.post-full-content:lang(ja) {
  font-family: var(--main-font);
}

.no-image .post-full-content {
  padding-top: 0;
}
.no-image .post-full-content:after,
.no-image .post-full-content:before {
  display: none;
}
.footnotes,
.post-full-content blockquote,
.post-full-content dl,
.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6,
.post-full-content ol,
.post-full-content p,
.post-full-content pre,
.post-full-content ul {
  min-width: 100%;
}
.post-full-content h2:target,
.post-full-content h3:target {
  scroll-margin-top: calc(var(--header-height) + 0.5em);
}
.post-full-content li {
  word-break: break-word;
}
.post-full-content li p {
  margin: 0;
}
.post-full-content a {
  color: inherit;
  word-break: break-word;
  text-decoration: underline;
}
.post-full-content a:hover {
  text-decoration: none;
}
.post-full-content em,
.post-full-content strong {
  color: var(--dark-main-color);
}
.post-full-content small {
  display: inline-block;
  line-height: 1.6em;
}
.post-full-content li:first-child {
  margin-top: 0;
}
.post-full-content img,
.post-full-content video {
  display: block;
  margin: 1.5em auto;
  max-width: 1040px;
  height: auto;
}
@media (max-width: 1040px) {
  .post-full-content img,
  .post-full-content video {
    width: 100%;
  }
}
.post-full-content img + br + small {
  display: block;
  margin-top: -3em;
  margin-bottom: 1.5em;
  text-align: center;
}
.post-full-content iframe :not(.runkit-element) {
  margin: 0 auto !important;
}
.post-full-content blockquote {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  border-left: var(--fourth-color) 3px solid;
}
.post-full-content blockquote p {
  margin: 0 0 1em;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
}
.post-full-content blockquote p:last-child {
  margin-bottom: 0;
}
.post-full-content code {
  padding: 0 5px 2px;
  line-height: 1em;
  font-weight: 400 !important;
  background: var(--third-color);
}
.post-full-content p code {
  word-break: normal;
}
.post-full-content pre {
  overflow-x: auto;
  margin: 1.5em 0 3em;
  padding: 20px;
  max-width: 100%;
  line-height: 1.5em;
  color: inherit;
  background: var(--dark-code-background-color);
}
.post-full-content pre code {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background: 0 0;
}
.post-full-content pre code :not(span) {
  color: inherit;
}
.post-full-content .fluid-width-video-wrapper {
  margin: 1.5em 0 3em;
}
.post-full-title,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6 {
  margin-top: 0;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.post-full-title,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6 {
  color: var(--dark-main-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-display: swap;
  font-weight: 700;
  margin: 0.5em 0 0.2em;
}
.post-full-title {
  font-size: 2rem;
  margin: 0.25rem 1rem 0.5em;
  font-weight: 700;
}
.post-full-content h2 {
  font-size: 1.7rem;
  margin: 1.5em 0 0.5em;
}
.post-full-content h3 {
  font-size: 1.5rem;
  margin: 1rem 0 3rem;
  font-weight: 500;
}
.post-full-content h4 {
  font-size: 1.3rem;
  margin: 1.5em 0 0.5em;
  font-weight: 500;
}
.post-full-content h5 {
  font-size: 1.2rem;
  margin: 1.5em 0 0.5em;
  font-weight: 500;
}
.post-full-content h6 {
  font-size: 1.1rem;
  margin: 1.5em 0 0.5em;
  font-weight: 500;
}
.post-full-content p {
  font-size: 16px;
}
@media (min-width: 500px) {
  .post-full-title {
    font-size: 4rem;
  }
  .post-full-content h2 {
    font-size: 3.2rem;
  }
  .post-full-content h3 {
    font-size: 2.9rem;
  }
  .post-full-content h4 {
    font-size: 2.5rem;
  }
  .post-full-content h5 {
    font-size: 2.3rem;
  }
  .post-full-content h6 {
    font-size: 2rem;
  }
  .post-full-content p {
    font-size: 22px;
  }
  .post-full-image {
    margin-bottom: 4vw;
  }
  .post-full-content:after,
  .post-full-content:before {
    display: none;
  }
}
@media (min-width: 500px) {
  .post-full-content {
    padding: 1.2rem 3rem 1rem;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .post-full-title {
    font-size: 3rem;
  }
  .post-full-content {
    padding: 0.8rem 2rem 0.5rem;
  }
}

.gist {
  width: 100%;
}
.content-blog pre.runkit-element {
  padding: 25px;
  overflow-x: hidden;
}

.content-blog code[class*="language-"],
.content-blog pre[class*="language-"] {
  color: var(--dark-code-light-blue-background-color);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1.2rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.content-blog code[class*="language-"] ::-moz-selection,
.content-blog code[class*="language-"]::-moz-selection,
.content-blog pre[class*="language-"] ::-moz-selection,
.content-blog pre[class*="language-"]::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
.content-blog code[class*="language-"] ::selection,
.content-blog code[class*="language-"]::selection,
.content-blog pre[class*="language-"] ::selection,
.content-blog pre[class*="language-"]::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  .content-blog code[class*="language-"],
  .content-blog pre[class*="language-"] {
    text-shadow: none;
  }
}
.content-blog pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
.content-blog :not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--dark-code-background-color);
}
.content-blog :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #708090;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: 0.7;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #29c;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a93;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: #9a6e3a;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #d94555;
}
.token.class-name,
.token.function {
  color: #179;
}
.token.important,
.token.regex,
.token.variable {
  color: #e90;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
