.main-port {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-background-color);
  height: 100vh;
  min-width: 100vw;
  background-color: var(--dark-background-color);
  overflow-x: hidden;
  animation: main 0.5s forwards;
  animation-delay: 4s;
  padding: 5rem 0 5rem 0;
}
@keyframes main {
  0% {
    justify-content: center;
  }
  100% {
    justify-content: flex-start;
  }
}
@keyframes into {
  0% {
    width: 0;
  }
  7% {
    width: 4.3em;
    transform: skewY(0deg);
  }
  15% {
    line-height: 0;
    background-position: right;
    transform: skewY(-10deg);
  }
  25% {
    width: 4.3em;
    line-height: 1;
    transform: skewY(-10deg) translate(0);
  }
  85% {
    width: 4.3em;
    line-height: 1;
    transform: skewY(-10deg) translate(0);
  }
  90% {
    line-height: 0;
    transform: skewY(-10deg) translate(0) scaleX(1);
  }
  95% {
    transform: skewY(-10deg) translate(9em) scaleX(5);
  }
  100% {
    background-position: left;
    transform: skewY(-10deg) translate(15em) scaleX(1);
    visibility: hidden;
  }
}
@keyframes into2 {
  12% {
    height: 0.07em;
  }
  15% {
    height: 0.15em;
  }
  85% {
    height: 0.15em;
  }
  90% {
    height: 0.07em;
  }
}
@keyframes menu-in {
  0% {
    font-size: 0;
  }
  30% {
    visibility: visible;
    font-size: 0.5rem;
  }
  100% {
    visibility: visible;
    font-size: 1.4rem;
  }
}
@keyframes h2-in {
  0% {
    font-size: 0;
    color: transparent;
  }
  30% {
    font-size: 0;
  }
  100% {
    font-size: 2.5rem;
    color: var(--fourth-color);
  }
}
@keyframes proyecto-in {
  0% {
    width: 0;
    /* height: 0; */
    border: none;
  }
  30% {
    width: 0;
    /* height: 0; */
  }
  100% {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 9px;
  }
}

.h1-port {
  color: transparent;
  font: bold 5em/0 var(--main-font);
  text-align: center;
  animation: into 4s forwards;
  overflow: hidden;
  background: linear-gradient(90deg, #ff0 47%, #ff0 49%, #ff0 50%, #fff 50%, #fff 100%);
  background-size: 300% 100%;
  background-position: right;
  -webkit-background-clip: text;
}
.h1-port:before,
.h1-port:after {
  content: "";
  display: block;
  background: var(--dark-main-color);
  width: 100%;
  height: 0.07em;
  animation: into2 4s forwards;
}

.proyectos {
  animation: into2 4s forwards;
  padding-top: 0;
  padding-bottom: -5rem;
}
.h2-port {
  font-size: 0;
  color: transparent;
  animation: h2-in 0.5s alternate forwards;
  animation-delay: 4s;
  text-align: center;
  font: bold 1.25em/0 var(--main-font);
  margin-bottom: 1.5rem;
}
.proyecto {
  position: relative;
}
.proyecto img {
  width: 0;
  height: 0;
  animation: proyecto-in 0.6s alternate forwards;
  animation-delay: 3.8s;
  border: none;
  margin: 0.5rem;
  max-width: 90%;
  height: auto;
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.4rem;
  border: 0.3px solid var(--border-color-trans);
  background-color: rgba(255, 255, 255, 0.678);
  backdrop-filter: blur(1px);
  width: 85%;
  height: 90%;
}
.overlay p {
  margin-bottom: 0;
  color: var(--dark-background-color);
  font-weight: 900;
}

.overlay,
.overlay p,
.overlay a,
.boton-volver {
  visibility: hidden;
  animation: menu-in 0.5s alternate forwards;
  animation-delay: 4.2s;
}
.boton-volver {
  margin-top: 1rem;
  text-align: center;
  z-index: 99999;
}

@media screen and (min-width: 768px) {
  .proyecto img {
    max-width: 500px;
  }
  .proyectos-contenedor {
    padding-top: -15rem;
  }
  .overlay {
    top: 50%;
    transition: all 0.2s ease;
    opacity: 0.35;
    background-color: transparent;
    backdrop-filter: none;
    border: none;
    max-width: 90%;
    height: auto;
    padding: 0.2rem 1rem;
  }
  .overlay p {
    font-size: 1.6rem;
    font-weight: bold;
    opacity: 0.5;
  }
  .proyecto:hover p {
    color: var(--dark-main-color);
  }
  .overlay i {
    font-size: 2rem;
    margin: 1.5rem;
  }
  .proyecto:hover img {
    opacity: 0.2;
  }
  .proyecto:hover .overlay,
  .proyecto:hover .overlay * {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .main-port {
    color: var(--dark-main-color);
  }
}
@media screen and (max-width: 360px) {
  .overlay p {
    font-weight: bold;
    margin-bottom: 0;
  }
}
